<!-- Carousel Section -->
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">

  <!-- Carousel Indicators -->
  <div class="carousel-indicators">
    <!-- Indicator for Slide 1 -->
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1" class=""></button>
    <!-- Indicator for Slide 2 -->
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
    <!-- Indicator for Slide 3 (Active) -->
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active"
      aria-current="true"></button>
  </div>

  <!-- Carousel Inner -->
  <div class="carousel-inner">

    <!-- Slide 1 - Hard Tennis Court -->
    <div class="carousel-item">
      <!-- Image for the first slide (Hard Tennis Court) -->
      <img src="../../../assets/image/Hard Court.jpg" height="550px" width="100%" alt="">
      <div class="container">
        <div class="carousel-caption ">
          <!-- Heading and content for the first slide -->
          <h1>Hard Tennis Court.</h1>
          <p class="opacity-75">Some representative placeholder content for the second slide of the carousel.</p>
          <!-- Button for action on the first slide -->
          <p><a class="btn btn-lg btn-custom" routerLink="./" fragment="hard">Check out</a></p>
        </div>
      </div>
    </div>

    <!-- Slide 2 - Clay Tennis Court -->
    <div class="carousel-item">
      <!-- Image for the second slide (Clay Tennis Court) -->
      <img src="../../../assets/image/Clay Court.jpg" height="550px" width="100%" alt="clay image">
      <div class="container">
        <div class="carousel-caption">
          <!-- Heading and content for the second slide -->
          <h1>Clay Tennis Court.</h1>
          <p>Some representative placeholder content for the second slide of the carousel.</p>
          <!-- Button for action on the second slide -->
          <p><a class="btn btn-lg btn-custom" routerLink="./" fragment="clay">Learn more</a></p>
        </div>
      </div>
    </div>

    <!-- Slide 3 - Grass Tennis Court (Active) -->
    <div class="carousel-item active">
      <!-- Image for the third slide (Grass Tennis Court) -->
      <img src="../../../assets/image/Grass Court.jpg" height="550px" width="100%" alt="grass image">
      <div class="container">
        <div class="carousel-caption text-end">
          <!-- Heading and content for the third slide -->
          <h1>One more for good measure.</h1>
          <p>Some representative placeholder content for the third slide of this carousel.</p>
          <!-- Button for action on the third slide -->
          <p><a class="btn btn-lg btn-custom" routerLink="./" fragment="grass">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Carousel Controls -->
  <!-- Button for moving to the previous slide -->
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <!-- Button for moving to the next slide -->
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Header Section -->
<header>
  <!-- Heading for the page -->
  <h1>Types of Tennis Courts</h1>
</header>




<!-- Section for Hard Tennis Courts -->
<section id="hard">
  <!-- Container for styling and layout -->
  <div class="container mt-5 pt-5">
    <!-- Horizontal Rule as a divider -->
    <hr class="featurette-divider">

    <!-- Row for arranging content in a horizontal manner -->
    <div class="row featurette">
      <!-- Column for the main content (text) -->
      <div class="col-md-7">
        <!-- Heading for the section -->
        <h2 class="featurette-heading fw-normal lh-1" id="1">Hard Tennis Courts. <span class="text-body-secondary">It’ll
            blow
            your mind.</span></h2>

        <!-- List of PROS with larger font size -->
        <ul>
          <span class="fs-3">PROS:</span>
          <!-- Individual PROS items -->
          <li> Low-maintenance: Hard courts are simple and inexpensive to maintain. </li>
          <li> Longevity: It is a long-lasting tennis court surface. </li>
          <li> Standard: Hard courts are a fairly neutral surface that accommodates all playing styles. </li>
          <li> Ideal bounce: There is no effect on the ball’s trajectory. </li>
        </ul>

        <!-- List of CONS with larger font size -->
        <ul>
          <span class="fs-3">CONS:</span>
          <!-- Individual CONS items -->
          <li> Hard on the body: Strength and stamina are strongly advised. </li>
          <li> Hard court: Hard courts are not suitable for senior tennis players. </li>
        </ul>

        <!-- Additional information about Hard Tennis Courts -->
        <p>
          Hard courts are essential for aspiring professional players as the most common surface on the professional
          tennis
          tour. Physical stamina and resistance, combined with a good serve, can go a long way, so tailor your practice
          sessions accordingly.
        </p>

        <!-- Row for the "book it" button -->
        <div class="row col-lg-4" *ngIf="authServ.user">
          <button type="submit" class="btn btn-custom m-3" (click)="Selected('Hard')">Book it</button>
        </div>
      </div>

      <!-- Column for the image -->
      <div class="col-md-5" >
        <!-- Image related to Hard Tennis Courts -->
        <img src="../../../assets/image/hard.jpg" alt="hard tennis courts images" width="500" height="500">
      </div>
    </div>
  </div>
</section>





<!-- /////////////////////////////////// -->

<!-- Section for Clay Tennis Courts -->
<section id="clay">
  <!-- Container for styling and layout -->
  <div class="container mt-5">
    <!-- Horizontal Rule as a divider -->
    <hr class="featurette-divider">

    <!-- Row for arranging content in a horizontal manner -->
    <div class="row featurette">
      <!-- Column for the main content (text) -->
      <div class="col-md-7">
        <!-- Heading for the section -->
        <h2 class="featurette-heading fw-normal lh-1">Clay Tennis Courts. <span class="text-body-secondary">It’ll blow
            your mind.</span></h2>

        <!-- List of PROS with larger font size -->
        <ul>
          <span class="fs-3">PROS:</span>
          <!-- Individual PROS items -->
          <li> Point construction: Clay courts are the best surface for learning how to construct a point properly.
          </li>
          <li> Durability: The tennis court surface with the longest lifespan. </li>
          <li> Improving: The best surface for tennis players to improve on. </li>
          <li> Fewer injuries: The least amount of stress on the body. </li>
          <li> Fewer errors: The marks left by the ball make the judge’s job easier. </li>
          <li> Cost: Clay courts are less expensive to build. </li>
        </ul>

        <!-- List of CONS with larger font size -->
        <ul>
          <span class="fs-3">CONS:</span>
          <!-- Individual CONS items -->
          <li> High upkeep: Brushing, watering, and rolling are all required. </li>
          <li> Weather conditions: Significant weather impact. </li>
          <li> Defensive playing style: The balls bounce slowly and high, making them unsuitable for offensive players.
          </li>
        </ul>

        <!-- Additional information about Clay Tennis Courts -->
        <p>
          Although big serves lose their advantage, and this surface is quite forgiving, some offensive players have won
          the
          French Grand Slam tournament. However, successful players had to change their game style and strategy.
        </p>

        <!-- Line break for formatting -->
        <br>

        <!-- Statement encouraging players to practice on clay courts -->
        <p>
          If you want to be a complete player, you should practice on clay courts. The ability to adapt to each
          surface, on the other hand, is what distinguishes the good from the great.
        </p>

        <!-- Row for the "book it" button -->
        <div class="row col-lg-4" *ngIf="authServ.user">
          <button type="submit" class="btn btn-custom m-3" (click)="Selected('Clay')">Book it</button>
        </div>
      </div>

      <!-- Column for the image -->
      <div class="col-md-5">
        <!-- Image related to Clay Tennis Courts -->
        <img src="../../../assets/image/gray.jpg" alt="clay tennis courts images" width="500" height="500">
      </div>
    </div>
  </div>
</section>


<!-- Section for Grass Tennis Courts -->
<section id="grass">
  <!-- Container for styling and layout with top margin -->
  <div class="container my-5">
    <!-- Horizontal Rule as a divider -->
    <hr class="featurette-divider">

    <!-- Row for arranging content in a horizontal manner -->
    <div class="row featurette">
      <!-- Column for the main content (text) -->
      <div class="col-md-7">
        <!-- Heading for the section with a normal font weight -->
        <h2 class="featurette-heading fw-normal lh-1">Grass Tennis Courts. <span class="text-body-secondary">It’ll blow
            your mind.</span></h2>

        <!-- List of PROS with larger font size -->
        <ul>
          <span class="fs-3">PROS:</span>
          <!-- Individual PROS items -->
          <li> High-level tennis: Allows for quick and spectacular points. </li>
          <li> Less exhausting: Physically forgiving surface. </li>
          <li> Service: A strong serve in tennis can be a valuable ally on grass courts. </li>
          <li> Fewer injuries: Gentle on the joints. </li>
        </ul>

        <!-- List of CONS with larger font size -->
        <ul>
          <span class="fs-3">CONS:</span>
          <!-- Individual CONS items -->
          <li> Costliness: Building and maintenance are not cheap. </li>
          <li> Weather: Wet areas will reduce the quality of the ball bounce. </li>
          <li> Slippery when wet: If not completely dry, it can be slippery. </li>
        </ul>

        <!-- Information for amateur players about playing on grass courts -->
        <p>
          For amateur players, playing on grass courts is uncommon; however, if you have an upcoming tournament on this
          surface,
          try to get as much practice on it as possible beforehand. If I had to pick one thing to help you improve as a
          grass player,
          it would be to stay low and bend your knees more than usual.
        </p>

        <!-- Row for the "book it" button -->
        <div class="row col-lg-4" *ngIf="authServ.user">
          <button type="submit" class="btn btn-custom m-3" (click)="Selected('Grass')">Book it</button>
        </div>
      </div>

      <!-- Column for the image -->
      <div class="col-md-5">
        <!-- Image related to Grass Tennis Courts -->
        <img src="../../../assets/image/gress.jpg" alt="grass tennis courts images" width="500" height="500">
      </div>
    </div>
  </div>
</section>



<div class="pic my-5 position-relative">
  <!-- Image element with a responsive style -->
  <img src="../../../assets/image/subscribe-bg-cut.jpg" alt="backgroundCoach" class="img-fluid">

  <!-- Semi-transparent black layer -->
  <div class="overlay"></div>

  <div class="container text-center text-white position-absolute top-50 start-50 translate-middle">
    <h1>Our prices <br><span style="color:#628730 "> COURT RENT </span></h1>
    <p class="rent">09:00 – 15:00 --- $15 per hour</p>
    <p class="rent">15:00 – 21:00 --- $25 per hour</p>
    <p class="rent">Saturday / Sunday --- $40 per hour</p>
  </div>
</div>