<div class="d-flex p-5 justify-content-center ">


    <section id="hard" class="mt-3" style="cursor: pointer;" (click)="Selected('Hard')">
        <!-- Container for styling and layout -->
        <div class="container mt-5">
      
          <!-- Row for arranging content in a horizontal manner -->
          <div class="col  featurette">
            <!-- Column for the main content (text) -->
            <div class="col-md-7">
              <!-- Heading for the section -->
              <h2 class="featurette-heading fw-normal lh-1" id="1">Hard Tennis Courts. </h2>
    
                </div>
            <!-- Column for the image -->
            <div class="col-md-5">
              <!-- Image related to Hard Tennis Courts -->
              <img src="../../../assets/image/hard.jpg" alt="hard tennis courts images" width="500" height="500">
            </div>
          </div>
        </div>
      </section>
      
      
      
      
      
      <!-- /////////////////////////////////// -->
      
      <!-- Section for Clay Tennis Courts -->
      <section id="clay" class="mt-3" style="cursor: pointer;"  (click)="Selected('Clay')">
        <!-- Container for styling and layout -->
        <div class="container mt-5">
      
          <!-- Row for arranging content in a horizontal manner -->
          <div class="col featurette">
            <!-- Column for the main content (text) -->
            <div class="col-md-7">
              <!-- Heading for the section -->
              <h2 class="featurette-heading fw-normal lh-1">Clay Tennis Courts. </h2>
      
    
                </div>
            <!-- Column for the image -->
            <div class="col-md-5">
              <!-- Image related to Clay Tennis Courts -->
              <img src="../../../assets/image/gray.jpg" alt="clay tennis courts images" width="500" height="500">
            </div>
          </div>
        </div>
      </section>
      
      
      <!-- Section for Grass Tennis Courts -->
      <section id="grass" class="mt-3" style="cursor: pointer;" (click)="Selected('Grass')">
        <!-- Container for styling and layout with top margin -->
        <div class="container my-5">

      
          <!-- Row for arranging content in a horizontal manner -->
          <div class="col featurette">
            <!-- Column for the main content (text) -->
            <div class="col-md-7">
              <!-- Heading for the section with a normal font weight -->
              <h2 class="featurette-heading fw-normal lh-1">Grass Tennis Courts.</h2>
             
            </div>
      
            <!-- Column for the image -->
            <div class="col-md-5">
              <!-- Image related to Grass Tennis Courts -->
              <img src="../../../assets/image/gress.jpg" alt="grass tennis courts images" width="500" height="500">
            </div>
          </div>
        </div>
      </section>
</div>
