<!-- First Photo Section -->
<div class="pic " style="position: relative; width: 100%; height: 100%;">

  <!-- Original background image -->
  <img src="../../../assets/image/SLIDE_03.jpg" alt="image cover" style="width: 100%; height: 100%; object-fit: cover;">

  <!-- Semi-transparent black layer -->
  <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);">
  </div>
  <!-- Text container positioned over the image -->
  <div class="container"
    style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: #ffffff;">
    <header>
      <h1 style="font-size: 4rem;">Tennis Sport club</h1>
      <div class="pragraph opacity-75">
        <p>Welcome to the Wonderful World of Tennis!</p>
        <p>Tennis is a thrilling and dynamic sport enjoyed by people of all ages and skill levels. Whether you're a
          seasoned
          player or just starting out, there's something for everyone on the tennis court.</p>
      </div>
    </header>
  </div>
</div>




<!-- Content section with a welcome message -->
<div class="content">
  <h1>Brief About Us</h1>
  <p>
    The tennis club has been in operation since May 2015. We have many stadiums and a team that has many international
    certificates to ensure the best quality of training for our valued customers.
  </p>
</div>
<div class="mid">
</div>
<!-- Empty mid section -->
<!-- Content section with a brief about the club -->
<div class="content">
  <h1>The benefits of playing tennis</h1>
  <p>Tennis is a great way to get exercise, improve your coordination, and relieve
    stress. It can also help you to build social connections and make new friends.</p>
</div>

<footer></footer>





<!-- Second Text Section -->
<section id="block_content">
  <div class="col-md-6 container">
    <blockquote class="blockstyle">
      The different types of tennis courts: There are three main types of tennis courts: hard courts, clay courts, and
      grass courts. Each type of court has its own unique playing characteristics.
    </blockquote>
  </div>
</section>

<!-- Third Text Section -->
<section id="block_content">
  <div class="col-md-6 container">
    <blockquote class="blockstyle ">
      The different types of tennis balls: Tennis balls are available in pressureless and pressurized versions.
      Pressureless balls are softer and slower, while pressurized balls are harder and faster.
      The different types of tennis racquets: Tennis racquets come in a variety of sizes, shapes, and weights. It's
      important to choose a racquet that is the right size and weight for you.
    </blockquote>
  </div>
</section>


<div class="offer" style=" text-align: center;
width: 70%;
margin: auto;
padding: 100px 0 100px 0;
color: rgb(5, 10, 10);">
  <h1>Our <span style="color: #BADD41;"> tennis club </span>offers <br> high level services</h1>
</div>





<!-- Container with fluid width -->
<div class="container-fluid">
  <!-- Row to hold cards -->
  <div class="row">
    <!-- Card column for Tennis Training -->
    <div class=" col-sm-6 col-md-4 col-lg-3 mb-3 mt-5 mb-sm-0">
      <div class="card" style="width: 18rem; text-align: center;">
        <!-- Image for Tennis Training card -->
        <img src="../../assets/image/service-03.jpg" routerLink="/step1t" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-header">Children’s School</h5>
          <p class="card-text">We have training at the highest level with dedicated trainers to ensure the quality
            of training for our valued clients.
            To learn more click on the button.</p>
          <div class="card-footer"><a routerLink="/step1t" class="btn btn-custom">Check Out
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Card column for Coaches -->
    <div class=" col-sm-6 col-md-4 col-lg-3  mt-5 mb-sm-0">
      <div class="card" style="width: 18rem; text-align: center;">
        <!-- Image for Coaches card -->
        <img src="../../assets/image/service-02-365x450.jpg" routerLink="/coaches" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-header"> Personal Trainings</h5>
          <p class="card-text">We have coaches at the highest level and they have many international certificates in
            tennis. You can choose the trainers they want. To choose trainers, click on the button.</p>
          <div class="card-footer"><a routerLink="/coaches" class="btn btn-custom">Check
              Out</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Card column for Coaches -->
    <div class=" col-sm-6 col-md-4 col-lg-3  mt-5 mb-sm-0">
      <div class="card" style="width: 18rem; text-align: center;">
        <!-- Image for Coaches card -->
        <img src="../../assets/image/service.jpg" routerLink="/coaches" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-header ">Support</h5>
          <p class="card-text">We have coaches at the highest level and they have many international certificates in
            tennis. You can choose the trainers they want. To choose trainers, click on the button.</p>
          <div class="card-footer"><a routerLink="/coaches" class="btn btn-custom">Check
              Out</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Card column for Courts -->
    <div class=" col-sm-6 col-md-4 col-lg-3  mt-5 mb-sm-0">
      <div class="card" style="width: 18rem; text-align: center;">
        <!-- Image for Courts card -->
        <img src="../../assets/image/service-01.jpg" routerLink="/courts" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-header"> Tennis court rent </h5>
          <p class="card-text">We have many branches throughout Egypt and governorates such as Cairo, Alexandria,
            Giza, Sohag, and others. To know the branch addresses, click on the button.</p>
          <div class="card-footer"><a routerLink="/courts" class="btn btn-custom">Check
              Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="cup" style=" text-align: center;
width: 70%;
margin: auto;
padding: 100px 0 100px 0;
color: rgb(5, 10, 10);">
  <h1>Our <br><span style="color: #BADD41;"> TENNIS CLUB CUP </span></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-4 partition" style="background-color: #BADD41; text-align: center;">
      <!-- Content for the first partition -->
      <h1 class="partition-title">TENNIS CLUB <br> CUP</h1>
      <h2 style="color: #ffffff;">the benefits of win </h2>
      <ul class="partition-list">
        <li>individual training</li>
        <li>Personal changing box</li>
        <li>Free access to the gym</li>
        <li>Parking place</li>
      </ul>

      <a class="btn btn-dark" style="border-radius: 40px; margin: 10px; text-align: center;  padding: 10px 20px;
      ">Read More</a>

    </div>
    <div class="col-md-4 partition">
      <!-- Content for the second partition -->
      <ul class="partition-text">
        <li class="data">21 Apr 2023 </li>
        <li class="vs">Marcus Crown vs. German Stiller </li>
        <li class="time"> 03:00 - Court 01</li>
        <li class="data">21 Mar 2023 </li>
        <li class="vs">Andreas Medvedev vs. Antony Fonsteur </li>
        <li class="time"> 06:00 - Court 01</li>
        <li class="data">28 Feb 2023 </li>
        <li class="vs">Serena Larsson vs. Olivia Schneider </li>
        <li class="time"> 08:00 - Court 01</li>

        <li style="text-align: center; margin-top: 5px;  padding: 10px 20px;
        "><a class="btn btn-custom">Read More</a></li>

      </ul>


    </div>
    <div class="col-md-4 partition">
      <!-- Content for the third partition -->
      <img src="../../assets/image/player.jpg" alt="" class="partition-image">
    </div>
  </div>
</div>



<div class="cup" style=" text-align: center;
width: 70%;
margin: auto;
margin-top: 30px;
padding: 100px 0 100px 0;
color: rgb(5, 10, 10);">
  <h1>Our prices <br><span style="color: #BADD41; font-size: 30px;"> Membership Cost </span></h1>
</div>


<div class="container membership-container">
  <div class="row">
    <div class="col-md-3">
      <!-- Content for the Beginner membership level -->
      <div class="membership-column">
        <h3 class="membership-level">Beginner</h3>
        <p class="membership-praice">29$</p>
        <p style="color: green;" class="membership-description"> 1 individual training</p>
        <p class="membership-description"> Personal changing box </p>
        <p class="membership-description"> Free access to the gym </p>
        <p class="membership-description"> Parking place</p>
        <button class="join-button">Join Now</button>
      </div>
    </div>
    <div class="col-md-3">
      <!-- Content for the Advanced membership level -->
      <div class="membership-column">
        <h3 class="membership-level">Advanced</h3>
        <p class="membership-praice">59$</p>
        <p style="color: green;" class="membership-description"> 1 individual training</p>
        <p style="color: green;" class="membership-description"> Personal changing box </p>
        <p class="membership-description"> Free access to the gym </p>
        <p class="membership-description"> Parking place</p>
        <button class="join-button">Join Now</button>
      </div>
    </div>
    <div class="col-md-3">
      <!-- Content for the Professional membership level -->
      <div class="membership-column">
        <h3 class="membership-level">Professional</h3>
        <p class="membership-praice">90$</p>
        <p style="color: green;" class="membership-description"> 1 individual training</p>
        <p style="color: green;" class="membership-description"> Personal changing box </p>
        <p style="color: green;" class="membership-description"> Free access to the gym </p>
        <p class="membership-description"> Parking place</p>
        <button class="join-button">Join Now</button>
      </div>
    </div>
    <div class="col-md-3">
      <!-- Content for the Full Complex membership level -->
      <div class="membership-column">
        <h3 class="membership-level">Full Complex</h3>
        <p class="membership-praice">120$</p>
        <p style="color: green;" class="membership-description"> 1 individual training</p>
        <p style="color: green;" class="membership-description"> Personal changing box </p>
        <p style="color: green;" class="membership-description"> Free access to the gym </p>
        <p style="color: green;" class="membership-description"> Parking place</p>
        <button class="join-button">Join Now</button>
      </div>
    </div>
  </div>
</div>