
.icon-font:before { content: '\e804'; } /* '' */
.icon-gear:before { content: '\e805'; } /* '' */
.icon-phone-call:before { content: '\e81a'; } /* '' */
.icon-tennis-court:before { content: '\e81b'; } /* '' */
.icon-tennis-racket:before { content: '\e81c'; } /* '' */
.icon-graduate-cap:before { content: '\e81d'; } /* '' */
.icon-lawn-mower:before { content: '\e81e'; } /* '' */
.icon-tennis-ball-45:before { content: '\e81f'; } /* '' */
.icon-black-eight-billiard-ball:before { content: '\e820'; } /* '' */
.icon-homepages:before { content: '\e825'; } /* '' */
.icon-seo:before { content: '\e827'; } /* '' */
.icon-text:before { content: '\e828'; } /* '' */
.icon-coding:before { content: '\e829'; } /* '' */
.icon-document:before { content: '\e82a'; } /* '' */
.icon-exchange:before { content: '\e82b'; } /* '' */
.icon-tennis-ball:before { content: '\e82f'; } /* '' */
.icon-medal:before { content: '\e832'; } /* '' */
.icon-net:before { content: '\e833'; } /* '' */
.icon-racket:before { content: '\e834'; } /* '' */
.icon-vest:before { content: '\e835'; } /* '' */
.icon-court:before { content: '\e836'; } /* '' */
.icon-lockers:before { content: '\e837'; } /* '' */