/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-headers), serif;
  font-weight: 600;
  letter-spacing: var(--font-headers-letterspacing);
}